/* ***Comandos de reset do browser*** */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video



/*Reset de margens e paddins padrão*/ 
* {
  margin: 0;
  padding: 0; // tirar todos os espaços e bordas do site
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* ***Fontes alojadas no site*** */

.center {
  background-color: #f0f5ef;
  height: 150px;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 2%;
}
.logo {
  width: 50%;
  margin-left: 10px;
  padding: 1px 0;
}
.logo img {
  width: 150px;
  height: 150px;
}
.menu {
  padding-top: 80px;
  width: 40%; /*se nao tiver espaço cai pra proxima linha */
  text-aling: right;
}
.menu a {
  font-family: Cormorant Garamond;
  font-style: bold;
  color: #008f8c;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px; /* afasta o texto um do outro*/
}
.menu a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px; /* afasta o texto um do outr*/
}
main {
  //background-color: #f0f5ef;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Imagem */
.image-container img {
  width: 2000px;
  height: 1000px;
  padding: 30px;
  max-width: 110%;
  max-height: 80vh;
  object-fit: contain;
}
.titulo {
  font-family: Cormorant Garamond;
  font-style: bold;
  font-size: 2em;
  font-weight: normal; /* tirar o bold */
  text-align: center;
}
.descricao {
  font-family: Opens sans;
  font-size: 1.2em;
  text-align: center;
  padding: 30px;
}
form {
  margin: 0 auto;
  padding: 3em;
  border: 4px;
  border-radius: 0.5em;
  width: 460px;
  background-color: #cdd5c6;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.contatoform {
  text-align: center;
}
form div + div {
  margin-top: 2em;
}
label {
  display: inline-block;
  width: 90px;
}
input,
textarea {
  font: 0.9em sans-serif;
  width: 350px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 0.3em;
}
input:focus,
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 6em;
  resize: none;
}
form .button {
  width: 120px;
  border: none;
  border-radius: 0.2em;
  margin: 0 auto;
}

button {
  margin-left: 0.5em;
  border: none;
  border-radius: 1em;
}
button:hover {
  background-color: #f0f5ef;
  transform: scale(1.05);
  transition: 2s;
  border: none;
  border-radius: 8px;
}

/*RODAPÉ */

footer {
  background-color: #f0f5ef;
  color: black;
  text-align: center;
  margin-top: 30px;
  padding: 50px 0;
  font-family: Opens sans;
}

footer a {
  margin: 0 15px;
  margin-right: 20px;
}

footer p {
  margin: 15px 0;
}
